* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    min-width: 280px;
    max-width: 800px;
    position: relative;
    top: 60px;
}
}

main p {
    padding-bottom: 10px;
}

img {
    width: 100%;
}

